<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      Bienvenido
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Ingresa a tu cuenta
        </h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
          <!-- correo Field -->
          <div>
            <label for="correo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">correo</label>
            <input type="correo" id="correo" formControlName="correo" autocomplete="off"
              class="bg-opacity-50 backdrop-blur-md border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="correo@dominio.com" required>

            <!-- Mostrar error solo si el campo ha sido tocado -->
            <div *ngIf="correoControl?.touched && correoControl?.hasError('required')" class="text-red-500 text-sm">
              El correo es requerido.
            </div>
            <div *ngIf="correoControl?.touched && correoControl?.hasError('correo')" class="text-red-500 text-sm">
              El correo debe ser un correo válido: correo&#64;dominio.com
            </div>
            <div *ngIf="loginError && loginError.includes('correo')" class="text-red-500 text-sm">
              {{ loginError }}
            </div>
          </div>

          <!-- Password Field -->
          <div>
            <label for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>

            <div class="relative">
              <input [type]="passwordVisible ? 'text' : 'password'" id="password" formControlName="password"
                placeholder="••••••••" autocomplete="off"
                class="bg-opacity-50 backdrop-blur-md border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>

              <!-- Ícono de ojo -->
              <svg (click)="togglePasswordVisibility()" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-6 h-6 absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer text-blue-600 hover:text-blue-700">
                <path [attr.d]="passwordIconPath" />
              </svg>
            </div>

            <!-- Errores de validación -->
            <div
              *ngIf="passwordControl?.touched && (passwordControl?.hasError('required') || passwordControl?.hasError('minlength'))"
              class="text-red-500 text-sm">
              <div *ngIf="passwordControl?.hasError('required')">La contraseña es requerida.</div>
              <div *ngIf="passwordControl?.hasError('minlength')">La contraseña debe tener al menos 8 caracteres.</div>
              <div *ngIf="loginError && loginError.includes('Contraseña')">{{ loginError }}</div>
            </div>
          </div>


          <!-- Remember Me and Forgot Password -->
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input id="remember" aria-describedby="remember" type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800">
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500 dark:text-gray-300">Recuérdame</label>
              </div>
            </div>
            <a href="#" class="text-sm font-medium text-white hover:underline">Recuperar contraseña?</a>
          </div>

          <!-- Submit Button -->
          <button type="submit"
            class="w-full text-white bg-blue-600 border border-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 active:scale-95 transition-transform duration-150">
            Inicio
          </button>

          <!-- Register Link -->
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            No tienes una cuenta?
            <a (click)="navigateToRegister()" class="font-medium text-blue-600 hover:underline dark:text-blue-500">
              Regístrate
            </a>


          </p>

        </form>
      </div>
    </div>
  </div>
</section>